{% extends 'base.html' %}
{% block head %}
  <style>
    td, th { padding: 0; margin: 0; border: none; }
  </style>
{% endblock %}
{% block content %}
<div id="content">
  {% if profile_picture_exists %}
    <table>
      <tr>
        <td><img id="profile-picture" src="/profile_pictures/{{ profile.id }}.png"/></td>
        <td class="wide">
          <h1>
            {% if profile.name %}
              {{ profile.name }}
            {% else %}
              {% if user and user.id == profile.id %}
                {{ tr['your_name_here'] }}
              {% endif %}
            {% endif %}
            {% if user and profile.id == user.id %}
              <a class="edit" href="/pages/settings">{{ tr['edit_profile'] }}</a>
            {% endif %}
          </h1>
        </td>
      </tr>
    </table>
  {% else %}
    <h1>
      {% if profile.name %}
        {{ profile.name }}
      {% else %}
        {% if user and user.id == profile.id %}
          {{ tr['your_name_here'] }}
        {% endif %}
      {% endif %}
      {% if user and profile.id == user.id %}
        <a class="edit" href="/pages/settings">{{ tr['edit_profile'] }}</a>
      {% endif %}
    </h1>
  {% endif %}

  {% if profile.open %}
    {% if user %}
      <form action="/{% if profile.username %}{{ profile.username }}{% else %}{{ profile.id }}{% endif %}/connect" method="post">
        {{ csrf|safe }}
    {% else %}
      <form action="/pages/sign-up" method="get">
    {% endif %}
        <input type="submit" value="Connect"/>
      </form>
  {% endif %}

  {% if profile.show_email %}
    <p><strong>{{ tr['email_address'] }}</strong>: <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
  {% endif %}

  {% if profile.city %}
    <p><strong>{{ tr['city'] }}</strong>: {{ profile.city }}</p>
  {% endif %}

  {% if profile.cv %}
    <p><strong>{{ tr['cv'] }}</strong>: <a href="{{ profile.cv }}">{{ profile.cv }}</a></p>
  {% endif %}

  {% if profile.about %}
    <h2>{{ tr['about'] }}</h2>
    {{ profile.about|render_markdown }}
  {% endif %}
</div>
{% endblock %}
